@model PrintManagement.Models.Impressora

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Impressora</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filial.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoDeImpressora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContratoDeImpressora.Tipo)
        </dd>
    </dl>
</div>
<a class="btn btn-danger btn-icon-split" asp-action="Edit" asp-route-id="@Model.Id">
    <span class="icon text-white">
        <i class="fas fa-pencil-alt"></i>
    </span>
    <span class="text text-white">Editar</span>
</a>

<a class="btn btn-danger btn-icon-split" asp-action="Index">
    <span class="icon text-white">
        <i class="fas fa-arrow-circle-left"></i>
    </span>
    <span class="text text-white">Voltar</span>
</a>