@model IEnumerable<PrintManagement.Models.Impressora>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Impressora</h1>
    <p class="mb-4">Listagem  De Impressoras</p>

    <p>
        <a class="btn btn-danger btn-icon-split" asp-action="Create">
            <span class="icon text-white">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text text-white">Adicionar</span>
        </a>


        <div class="table">
            <table class="table table-bordered table-hover" id="sisDataTable" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Serial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Modelo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Filial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Departamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContratoDeImpressora)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Serial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Modelo.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Filial.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departamento.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContratoDeImpressora.Tipo)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt text-danger"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search text-danger"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </p>
</div>